<nav class="navbar navbar-expand-lg navbar-dark elearning-navbar">
    <div class="container-fluid px-5">

        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img 
                src="/assets/images/logo/360-elearning_logo.png" 
                alt="360 Learning"
                class="logo"
            >
        </a>


        <!-- Mobile Button -->
        <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMenu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>


        <!-- Menu -->
        <div 
            class="collapse navbar-collapse justify-content-center"
            id="navbarMenu"
        >

            <ul class="navbar-nav gap-2">


                <li class="nav-item">
                    <a 
                        class="nav-link active"
                        href="/"
                    >
                        Home
                    </a>
                </li>


                <li class="nav-item">
                    <a 
                        class="nav-link"
                        href="/"
                    >
                        About Us
                    </a>
                </li>


                <li class="nav-item dropdown">

                    <a 
                        class="nav-link dropdown-toggle"
                        href="/"
                        role="button"
                        data-bs-toggle="dropdown"
                    >
                        Courses
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/">
                                Web Development
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/">
                                Design
                            </a>
                        </li>
                    </ul>

                </li>



                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Long Courses
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Download
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Contact Us
                    </a>
                </li>


            </ul>


        </div>



        <!-- Button -->
        <div class="navbar-actions">

            <a 
                href="/"
                class="btn-login"
            >
                LOGIN
            </a>


            <a 
                href="/"
                class="btn-enroll"
            >
                ENROLL NOW
            </a>

        </div>


    </div>
</nav>