<nav class="navbar navbar-expand-lg navbar-dark elearning-navbar">

    <div class="container-fluid navbar-container">


        <a class="navbar-brand" href="index.html">

            <img 
                src="assets/images/logo/360-elearning_logo.png"
                class="logo"
            >

        </a>



        <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMenu"
        >

            <span class="navbar-toggler-icon"></span>

        </button>



        <div 
            class="collapse navbar-collapse justify-content-center"
            id="navbarMenu"
        >


            <ul class="navbar-nav">


                <li class="nav-item">

                    <a class="nav-link home-link" href="index.html">
                        Home
                    </a>

                </li>



                <li class="nav-item">

                    <a class="nav-link about-link" href="about-us.html">
                        About Us
                    </a>

                </li>



                <li class="nav-item dropdown">


                    <a 
                        class="nav-link dropdown-toggle"
                        href="#"
                        data-bs-toggle="dropdown"
                    >
                        Courses
                    </a>



                    <ul class="dropdown-menu">


                        <li>

                            <a class="dropdown-item" href="#">
                                Web Development
                            </a>

                        </li>


                    </ul>


                </li>




                <li class="nav-item">

                    <a class="nav-link" href="#">
                        Long Courses
                    </a>

                </li>



                <li class="nav-item">
                    <a class="nav-link schedule-link" href="schedules.html">
                        Schedules
                    </a>
                </li>



                <li class="nav-item">


                    <a class="nav-link download-link" href="download.html">
                        Download
                    </a>

                </li>



                <li class="nav-item">

                    <a href="contact.html" class="nav-link contact-link">
                        Contact
                    </a>

                </li>


            </ul>


            <div class="mobile-actions">

                <a href="login.html" class="btn-login">
                    LOGIN
                </a>

                <a href="#" class="btn-enroll">
                    ENROLL NOW
                </a>

            </div>


        </div>




        <div class="navbar-actions desktop-actions">


            <a href="login.html" class="btn-login">
                LOGIN
            </a>



            <a href="#" class="btn-enroll">
                ENROLL NOW
            </a>


        </div>


    </div>


</nav>