<section class="course-banner">


    <!-- Breadcrumb -->

    <div class="course-breadcrumb">

        <a href="index.html">
            HOME
        </a>

        <span>
            >
        </span>

        <span>
            WHY DIVERSIFY YOUR INVESTMENTS?
        </span>

    </div>




    <div class="course-banner-content">



        <!-- LEFT IMAGE -->

        <div class="course-banner-image">

            <img 
            src="assets/images/courses/recommend2.png"
            alt="Course Image">

        </div>





        <!-- RIGHT CONTENT -->

        <div class="course-banner-info">


            <p class="course-type">
                Course Online
            </p>



            <h1>
                Unlock Investment Opportunities
            </h1>




            <h2>
                19999 Baht
            </h2>





            <div class="course-rating">


                <i class="fa-solid fa-star"></i>

                <i class="fa-solid fa-star"></i>

                <i class="fa-solid fa-star"></i>

                <i class="fa-solid fa-star"></i>

                <i class="fa-solid fa-star"></i>


                <span>
                    4.8
                </span>


            </div>







            <div class="course-action">


                <a href="order-course.html" class="pay-btn">

                    Pay to Start Learning

                </a>



                <div class="action-icon">

                    <i class="fa-regular fa-heart"></i>

                    <i class="fa-solid fa-share-nodes"></i>

                </div>


            </div>



        </div>



    </div>


</section>