<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<section class="course-curriculum">


    <h2 class="curriculum-title">
        Course Curriculum
    </h2>



    <div class="course-tabs">

        <button class="active">
            Total Courses
        </button>

        <button>
            Required Courses
        </button>

        <button>
            Elective Courses
        </button>

    </div>





    <div class="course-grid" id="courseGrid">

    </div>







    <div class="curriculum-pagination">


        <button>

            <i class="fa-solid fa-arrow-left"></i>

        </button>



        <span class="active"></span>

        <span></span>

        <span></span>

        <span></span>

        <span></span>



        <button>

            <i class="fa-solid fa-arrow-right"></i>

        </button>


    </div>



</section>