<div class="course-card">


    <div class="course-image-box">


        <img 
        src="assets/images/courses/shortcourse1.png"
        class="course-image">


        <span class="course-type">
            Workshop
        </span>


    </div>



    <div class="course-content">


        <div class="course-instructor">


            <img 
            src="https://randomuser.me/api/portraits/men/11.jpg"
            class="instructor-avatar">


            <span>
                Dr. Amonthep Thongsios
            </span>


        </div>



        <h5>
            Expand Your Investment Horizon.
            Stay Ahead of the Global Economy.
        </h5>



        <div class="course-line"></div>



        <div class="course-info">

            <span>
                1,500
            </span>


            <span>
                For Credit
            </span>


        </div>



        <div class="course-footer">

            <span>
                3,000 baht
            </span>


            <span>
                Non-Credit
            </span>


        </div>


    </div>


</div>