<section class="curriculum-structure">


    <div class="curriculum-header">

        <h2>
            Curriculum Structure
        </h2>

        <p>
            Master of Business Administration (MBA) in Business Innovation
        </p>

    </div>




    <div class="curriculum-content">


        <div class="curriculum-detail">


            <h3>
                Graduation Requirements
            </h3>



            <h4>
                Plan 1: Academic (Research-Focused)
            </h4>


            <p>
                Compulsory Courses: 18 credits<br>
                (Prerequisite compulsory courses for the Comprehensive Examination = 18 credits)
            </p>


            <p>
                Elective Courses: 6 credits<br>
                (Prerequisite elective courses for the Comprehensive Examination = 0 credits)
            </p>


            <p>
                Thesis: 12 credits
            </p>





            <h4>
                Plan 2: Professional (Coursework-Focused)
            </h4>


            <p>
                Compulsory Courses: 18 credits<br>
                (Prerequisite compulsory courses for the Comprehensive Examination = 18 credits)
            </p>


            <p>
                Elective Courses: 12 credits<br>
                (Prerequisite elective courses for the Comprehensive Examination = 0 credits)
            </p>


            <p>
                Independent Studies (IS): 6 credits
            </p>



            <button>
                View all curriculum structures and conditions
            </button>


        </div>





        <div class="curriculum-chart">

            <!-- Plan 1 -->
            <div class="plan">

                <div class="plan-boxes">

                    <div class="box large">
                        Compulsory<br>
                        Courses<br>
                        (18 credits)
                    </div>

                    <div class="stack plan1-stack">

                        <div class="box">
                            Elective<br>
                            Courses<br>
                            (6 credits)
                        </div>

                        <div class="box">
                            Thesis<br>
                            (12 credits)
                        </div>

                    </div>

                </div>

                <h5>Plan 1</h5>

            </div>

            <!-- Plan 2 -->
            <div class="plan">

                <div class="plan-boxes">

                    <div class="box large">
                        Compulsory<br>
                        Courses<br>
                        (18 credits)
                    </div>

                    <div class="stack plan2-stack">

                        <div class="box">
                            Elective<br>
                            Courses<br>
                            (12 credits)
                        </div>

                        <div class="box">
                            Independent<br>
                            Studies<br>
                            (6 credits)
                        </div>

                    </div>

                </div>

                <h5>Plan 2</h5>

            </div>

        </div>


    </div>



</section>