<div class="instructor">


    <h3>
        Instructor
    </h3>




    <div class="instructor-card">


        <img 
        src="https://randomuser.me/api/portraits/men/32.jpg"
        >



        <div>


            <h4>
                John Anderson
            </h4>



            <p>
                <i class="fa-solid fa-star"></i>
                5.0 Rating
            </p>



            <p>

                <i class="fa-regular fa-user"></i>

                159 reviews

            </p>



            <p>

                <i class="fa-solid fa-book"></i>

                12 Courses

            </p>



            <a href="#">

                <i class="fa-solid fa-arrow-up-right-from-square"></i>

                View Instructor Profile

            </a>



        </div>


    </div>




    <p class="bio">

        Senior Web Developer with over 8 years of experience
        in web development, software engineering, and online
        learning platforms. Specialized in modern frontend
        technologies and creating scalable web applications.

    </p>






    <hr>






    <div class="instructor-card">


        <img 
        src="https://randomuser.me/api/portraits/women/44.jpg"
        >



        <div>


            <h4>
                Sarah Wilson
            </h4>



            <p>

                <i class="fa-solid fa-star"></i>

                4.9 Rating

            </p>




            <p>

                <i class="fa-regular fa-user"></i>

                626 reviews

            </p>




            <p>

                <i class="fa-solid fa-book"></i>

                16 Courses

            </p>




            <a href="#">

                <i class="fa-solid fa-arrow-up-right-from-square"></i>

                View Instructor Profile

            </a>



        </div>


    </div>




    <p class="bio">

        Professional UI/UX Designer and Frontend Developer
        with experience in creating user-friendly interfaces,
        responsive websites, and digital learning experiences.
        Passionate about improving online education through
        modern design and technology.

    </p>



</div>