<div class="course-description-container">


    <div class="course-description-left">


        <h3>Description</h3>


        <div class="description-line"></div>



        <div class="what-you-get">


            <h4>
                What You'll Get
            </h4>


            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>
                Suspendisse sodales nisl vel nulla tempor egestas.
                <br>
                Etiam ut ante mattis, sagittis lacus eu, tristique velit.
            </p>


        </div>



        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc tincidunt dignissim varius.
            Aenean luctus venenatis dui, vitae pretium tortor rutrum a.
        </p>



        <h4>
            Course Description
        </h4>


        <p>
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form,
            by injected humour, or randomised words which don't look
            even slightly believable.
        </p>



        <h4>
            Course Content
        </h4>


        <ol>

            <li>
                What is Lorem Ipsum?
            </li>

            <li>
                Why is it Used?
            </li>

            <li>
                Historical Origins
            </li>

            <li>
                Modern Applications
            </li>

            <li>
                Why Designers Choose It
            </li>

        </ol>



        <h4>
            Benefits of the Course
        </h4>

        <p>
            Sed ut perspiciatis unde omnis iste natus.
        </p>



        <h4>
            Who Is This Course For
        </h4>

        <p>
            I must explain to you how all this mistaken idea of denouncing.
        </p>



        <h4>
            Prerequisites
        </h4>

        <p>
            At vero eos et accusamus et iusto odio.
        </p>



        <div class="show-more">
            Show less
        </div>



    </div>





    <div class="course-description-right">


        <div class="quotation-box">

            <i class="fa-solid fa-file-signature"></i>

            <div>

                <b>
                    Quotation
                </b>

                <span>
                    Open the form
                </span>

                <br>

                For purchasing for employees in the organization

            </div>


        </div>




        <div class="course-feature">


            <p>
                <i class="fa-solid fa-shield-halved"></i>

                <b>
                    Supports linking your work
                </b>

                <small>
                    See more 
                </small>

                <br>

                <span class="verified">
                    <i class="fa-solid fa-circle-check"></i>
                    Verified by SEEK Pass
                </span>

            </p>




            <p>

                <i class="fa-solid fa-circle-play"></i>

                <b>
                    12 videos
                </b>

                <br>

                <span>
                    1 hour 35 minutes
                </span>

            </p>





            <p>

                <i class="fa-solid fa-infinity"></i>

                <b>
                    Learn anywhere, anytime, for a lifetime
                </b>

            </p>





            <p>

                <i class="fa-solid fa-file-lines"></i>

                <b>
                    Article
                </b>

                <br>

                <span>
                    7 Articles
                </span>

            </p>





            <p>

                <i class="fa-solid fa-certificate"></i>

                <b>
                    Has a certificate
                </b>

            </p>





            <p>

                <i class="fa-solid fa-circle-question"></i>

                <b>
                    Quiz
                </b>

                <br>

                <span>
                    A total of 1 quiz
                </span>

            </p>


        </div>


    </div>

</div>