<section class="pathway-master">


    <h2 class="pathway-title">
        Pathway to a Master's Degree
    </h2>



    <div class="pathway-container">
        <svg class="pathway-line-svg"
            viewBox="0 0 1200 650"
            preserveAspectRatio="none">

            <!-- เส้นบน -->
            <path
                class="path-line"
                d="M130 75 H1170"/>

            <!-- โค้งด้านขวา -->
            <path
                class="path-line"
                d="
                M1170 75
                V235
                Q1170 250 1155 250
                H80
                "/>

            <!-- โค้งด้านซ้าย -->
            <path
                class="path-line"
                d="
                M80 250
                Q80 250 80 265
                V365
                "/>

            <!-- เส้นล่าง -->
            <path
                class="path-line"
                d="M80 365 H1070"/>

        </svg>


        <div class="pathway-item">

            <i class="fa-solid fa-laptop pathway-icon"></i>

            <span class="step">
                1
            </span>

            <p>
                Study online at:<br>
                <span>
                    www.SkillLane.com/TUXSA
                </span>
            </p>

        </div>



        <div class="pathway-item">

            <i class="fa-regular fa-pen-to-square pathway-icon"></i>

            <span class="step">
                2
            </span>

            <p>
                Take online exams to earn and<br>
                collect credits.
            </p>

        </div>




        <div class="pathway-item">

            <i class="fa-regular fa-bookmark pathway-icon"></i>

            <span class="step">
                3
            </span>

            <p>
                Receive a Course Certificate<br>
                upon passing the online criteria<br>
                for each individual course.
            </p>

        </div>




        <div class="pathway-item">

            <i class="fa-solid fa-graduation-cap pathway-icon"></i>

            <span class="step">
                4
            </span>

            <p>
                Receive a Program Certificate<br>
                after passing all required<br>
                compulsory courses, totaling<br>
                18 credits (12 courses) via the<br>
                online platform.
            </p>

        </div>




        <div class="pathway-item">

            <i class="fa-regular fa-file-lines pathway-icon"></i>

            <span class="step">
                5
            </span>

            <p>
                Register and take the<br>
                Comprehensive Examination.
            </p>

        </div>




        <div class="pathway-item">

            <i class="fa-regular fa-folder-open pathway-icon"></i>

            <span class="step">
                6
            </span>

            <p>
                Apply for master's degree<br>
                student status and select a<br>
                study plan according to the<br>
                admission requirements of the<br>
                university and the hosting<br>
                faculty.
            </p>

        </div>




        <div class="pathway-item">

            <i class="fa-regular fa-file-lines pathway-icon"></i>

            <span class="step">
                7
            </span>

            <p>
                <b>Plan 1:</b> Complete 24 credits of online<br>
                coursework (16 courses) according<br>
                to the curriculum structure with a<br>
                GPA of not less than 3.00, pass the<br>
                Thesis, and achieve the required<br>
                English proficiency test score.

                <br><br>

                <b>Plan 2:</b> Complete 30 credits of online<br>
                coursework (20 courses) according<br>
                to the curriculum structure with a<br>
                GPA of not less than 3.00, pass the<br>
                Independent Study (IS), and achieve<br>
                the required English proficiency test<br>
                score.
            </p>

        </div>





        <div class="pathway-item">

            <i class="fa-solid fa-user-graduate pathway-icon"></i>

            <span class="step">
                8
            </span>

            <p>
                Graduate with a Master's<br>
                Degree from Thammasat<br>
                University.
            </p>

        </div>


    </div>


</section>