<section class="curriculum-components">


    <h2 class="components-title">
        Curriculum Components
    </h2>



    <div class="components-grid">



        <div class="component-card">


            <img 
            src="assets/images/courses/curri-component1.png"
            class="component-image">



            <span class="component-category">
                BUSINESS AND TECHNOLOGY KNOWLEDGE
            </span>



            <h3>
                KNOWLEDGE AND TECHNOLOGY
            </h3>



            <p>
                Focuses on knowledge in applying analytical tools to
                solve problems and improve work performance,
                including utilizing technology to assist in designing
                and developing business approaches.
            </p>


        </div>





        <div class="component-card">


            <img 
            src="assets/images/courses/curri-component2.png"
            class="component-image">



            <span class="component-category">
                LEADERSHIP
            </span>



            <h3>
                LEADERSHIP
            </h3>



            <p>
                Emphasizes leadership knowledge and skills that
                empower learners to become effective leaders in an era
                of rapid change.
            </p>


        </div>





        <div class="component-card">


            <img 
            src="assets/images/courses/curri-component3.png"
            class="component-image">



            <span class="component-category">
                DIGITAL BUSINESS STRATEGY
            </span>



            <h3>
                DIGITAL BUSINESS STRATEGY
            </h3>



            <p>
                Focuses on business development that addresses the
                challenges of the digital era, while enabling effective
                business situation analysis and strategic decision-making.
            </p>


        </div>



    </div>


</section>