<div class="payment-container">


    <div class="payment-header">

        <h3>
            How to Payment ?
        </h3>


        <p>
            Show the payment methods and options
        </p>

    </div>




    <div class="payment-list">


        <div class="payment-item">


            <div class="payment-question">

                <span>
                    How to start shopping
                </span>

                <i class="fa-solid fa-chevron-down"></i>

            </div>


            <div class="payment-answer">

                Select your course and click enroll button to continue payment process.

            </div>


        </div>





        <div class="payment-item">


            <div class="payment-question">

                <span>
                    How to pay with a credit/debit card
                </span>

                <i class="fa-solid fa-chevron-down"></i>

            </div>


            <div class="payment-answer">

                You can pay using Visa, Mastercard, or other supported debit and credit cards.

            </div>


        </div>





        <div class="payment-item">


            <div class="payment-question">

                <span>
                    How to pay with a QR code
                </span>

                <i class="fa-solid fa-chevron-down"></i>

            </div>


            <div class="payment-answer">

                Scan the QR code through your banking application and complete the payment.

            </div>


        </div>





        <div class="payment-item">


            <div class="payment-question">

                <span>
                    How to pay with PayPal
                </span>

                <i class="fa-solid fa-chevron-down"></i>

            </div>


            <div class="payment-answer">

                Login with your PayPal account and confirm your payment.

            </div>


        </div>





        <div class="payment-item">


            <div class="payment-question">

                <span>
                    Payment method by bank transfer (order will be completed within 24 hours)
                </span>


                <i class="fa-solid fa-chevron-down"></i>

            </div>


            <div class="payment-answer">

                Transfer payment to the provided bank account. Your order will be verified within 24 hours.

            </div>


        </div>



    </div>






    <div class="payment-footer">


        <div class="course-mini">


            <img 
            src="assets/images/courses/recommend1.png"
            >


            <div>

                <span>
                    Course Online
                </span>


                <b>
                    Why diversify your investments?
                </b>


            </div>


        </div>




        <div class="free-box">


            <h4>
                Free
            </h4>


            <a href="course-online.html">

                Start Learning for Free

            </a>


        </div>



    </div>



</div>