<div class="recommended">

    <div class="container">

        <div class="recommended-header">

            <h2>Recommended</h2>

            <a href="short-course.html" class="see-all">
                See All
                <i class="fa-solid fa-arrow-right"></i>
            </a>

        </div>


        <div class="recommended-list">


            <div class="recommend-card">

                <a href="short-course.html">

                    <img src="assets/images/courses/recommend1.png" 
                    alt="Introduction to Web Development">

                    <div class="recommend-content">

                        <h5>Introduction to Web Development</h5>

                        <p>
                            Learn the fundamentals of HTML, CSS, and JavaScript to
                            build modern and responsive websites.
                        </p>

                        <div class="recommend-rating">

                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                            <span>4.9</span>

                        </div>

                    </div>

                </a>

            </div>





            <div class="recommend-card">

                <a href="short-course.html">

                    <img src="assets/images/courses/recommend2.png" 
                    alt="UI & UX Design Essentials">


                    <div class="recommend-content">

                        <h5>UI & UX Design Essentials</h5>

                        <p>
                            Discover how to create intuitive user experiences and
                            beautiful interfaces using modern design principles.
                        </p>


                        <div class="recommend-rating">

                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                            <span>4.8</span>

                        </div>


                    </div>


                </a>

            </div>






            <div class="recommend-card">


                <a href="short-course.html">


                    <img src="assets/images/courses/recommend3.png" 
                    alt="Digital Marketing Strategy">


                    <div class="recommend-content">


                        <h5>Digital Marketing Strategy</h5>


                        <p>
                            Master SEO, social media marketing, and content planning
                            to grow your online business effectively.
                        </p>



                        <div class="recommend-rating">

                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                            <span>4.7</span>

                        </div>


                    </div>


                </a>


            </div>







            <div class="recommend-card">


                <a href="short-course.html">


                    <img src="assets/images/courses/recommend4.png" 
                    alt="Python Programming for Beginners">


                    <div class="recommend-content">


                        <h5>Python Programming for Beginners</h5>


                        <p>
                            Start coding with Python through practical projects and
                            learn programming concepts step by step.
                        </p>


                        <div class="recommend-rating">


                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>


                            <span>5.0</span>


                        </div>


                    </div>


                </a>


            </div>



        </div>

    </div>

</div>