<div class="order-summary">


    <h3 class="order-title">
        1 Order Item
    </h3>



    <div class="order-wrapper">



        <!-- Course Card -->

        <div class="order-card">


            <div class="course-product">


                <img 
                src="assets/images/courses/recommend2.png"
                alt="Course Image">



                <div class="course-detail">


                    <p>
                        Online Course • Learn Anytime as Many Times as You Want
                    </p>


                    <h4>
                        Unlock Investment Opportunities
                    </h4>



                    <div class="course-author">


                        <img 
                        class="avatar"
                        src="https://i.pravatar.cc/100?img=47"
                        alt="Instructor">



                        <span>
                            Nikky
                        </span>



                        <img 
                        class="academy-logo"
                        src="assets/images/logo/logo2.png"
                        alt="360 Academy">



                        <span>
                            360 Academy
                        </span>


                    </div>



                </div>



            </div>





            <div class="discount-row">


                <i class="fa-solid fa-ticket"></i>


                <span>
                    Add Discount Code
                </span>


                <i class="fa-solid fa-chevron-right"></i>



            </div>



        </div>







        <!-- Order List -->


        <div class="order-list">


            <h4>
                Order list
            </h4>



            <div class="price-row">

                <span>
                    Total (1 item):
                </span>

                <span>
                    19999.00 baht
                </span>

            </div>




            <div class="price-row">

                <span>
                    Discount:
                </span>

                <span>
                    -391.00 baht
                </span>

            </div>




            <hr>



            <div class="net-price">


                <span>
                    Net price:
                </span>


                <strong>
                    19608.00 baht
                </strong>


            </div>




            <p class="vat">
                Including VAT
            </p>



        </div>



    </div>



</div>