<div class="payment-method">


    <div class="payment-header">

        <h3>
            Payment
        </h3>

        <p>
            Select a Payment Method
        </p>

    </div>





    <!-- Credit Card -->

    <div class="payment-option" onclick="openPaymentModal('card')">


        <div class="payment-icon">

            <i class="fa-solid fa-credit-card"></i>

        </div>


        <div class="payment-text">

            <b>
                Pay with Credit Card
            </b>

            <span>
                Start Learning Immediately After Payment
            </span>

        </div>



        <div class="card-brand">

            <img 
            src="assets/images/logo/bank.png"
            alt="Payment Bank">

        </div>



        <i class="fa-solid fa-chevron-right"></i>


    </div>






    <!-- Promptpay -->

    <div class="payment-option" onclick="openPaymentModal('qr')">


        <div class="payment-icon">

            <i class="fa-solid fa-qrcode"></i>

        </div>



        <div class="payment-text">

            <b>
                PromptPay QR Code
            </b>


            <span>
                You can start learning right after payment
            </span>


        </div>



        <i class="fa-solid fa-chevron-right"></i>


    </div>








    <div class="payment-option" onclick="openPaymentModal('paypal')">

        <div class="payment-icon">

            <img src="assets/images/logo/paypal.png"
                alt="Paypal">

        </div>

        <div class="payment-text">

            <b>
                Payment via PayPal
            </b>

            <span>
                You can start learning right after payment
            </span>

        </div>

        <i class="fa-solid fa-chevron-right"></i>

    </div>







    <!-- Bank -->

    <div class="payment-option" onclick="openPaymentModal('bank')">


        <div class="payment-icon">

            <i class="fa-solid fa-building-columns"></i>

        </div>



        <div class="payment-text">

            <b>
                Pay by bank transfer
            </b>


            <span>
                You can start learning within 24 hours after payment.
            </span>


        </div>



        <i class="fa-solid fa-chevron-right"></i>


    </div>







</div>








<!-- ================= CARD MODAL ================= -->


<div class="payment-modal" id="cardModal">


    <div class="modal-box card-modal-box">


        <i class="fa-solid fa-xmark" onclick="closePaymentModal()"></i>



        <h4>
            Pay with Credit Card
        </h4>



        <p>
            Please complete all required fields.
        </p>





        <div class="total-box">

            <span>
                Total Price (VAT Included)
            </span>

            <strong>
                19608.00 baht
            </strong>

        </div>

        <div class="card-info-header">

            <h5>
                Card Information
            </h5>


            <img 
            src="assets/images/logo/bank.png"
            alt="Card Brand">

        </div>






        <label>
            Card Number (16 digits)
        </label>

        <input type="text" placeholder="Enter card number">





        <label>
            Cardholder Name
        </label>


        <input type="text" placeholder="Enter cardholder name">





        <div class="input-row">


            <div>

                <label>
                    Expiration Date (MM/YY)
                </label>

                <input placeholder="MM/YY">

            </div>




            <div>

                <label>
                    CVV (3-digit code)
                </label>

                <input placeholder="Enter CVV">

            </div>


        </div>





        <button>
            Confirm Payment
        </button>




    </div>


</div>








<!-- ================= QR MODAL ================= -->

<div class="payment-modal" id="qrModal">

    <div class="modal-box qr-box">

        <i class="fa-solid fa-xmark close" onclick="closePaymentModal()"></i>

        <div class="qr-frame">
            <img src="assets/images/logo/qrcode.png" alt="PromptPay QR">
        </div>

        <h5>
            Please make the payment by
            <span>09:40</span>
            minute
        </h5>

        <p>
            And please don't close/change or refresh this window while making the payment.
        </p>

        <p class="warning">
            Because it might make your order incomplete
        </p>

        <div class="qr-total">

            <small>Net price (including VAT)</small>

            <strong>19608.00 baht</strong>

            <div class="payto">
                pay to:
                <span>THREE SIX O ACADEMIC CENTER CO.,LTD</span>
            </div>

        </div>

    </div>

</div>




<!-- ================= PAYPAL MODAL ================= -->

<div class="payment-modal" id="paypalModal">

    <div class="paypal-box">

        <i class="fa-solid fa-xmark paypal-close"
           onclick="closePaymentModal()"></i>

        <div class="paypal-window">

            <img
                class="paypal-logo"
                src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-mark-color.svg"
                alt="PayPal">

            <h3>Welcome back</h3>

            <p class="paypal-title">
                Sign in with your email address to continue.
            </p>

            <input
                type="email"
                placeholder="Email or mobile number">

            <a href="#" class="forgot-link">
                Forgot email?
            </a>

            <button class="paypal-next">
                Next
            </button>

            <div class="paypal-or">

                <span></span>

                <b>or</b>

                <span></span>

            </div>

            <button class="paypal-card">

                <i class="fa-regular fa-credit-card"></i>

                Pay with Debit or Credit Card

            </button>

            <p class="paypal-return">

                Cancel and return to

                <strong>
                    SKILLANE TECHNOLOGY PUBLIC COMPANY LIMITED
                </strong>

            </p>

            <div class="paypal-language">

                <img
                    src="https://flagcdn.com/16x12/us.png"
                    alt="US">

                <span>English</span>

                <span class="divider">|</span>

                <span>Français</span>

                <span class="divider">|</span>

                <span>Español</span>

                <span class="divider">|</span>

                <span>中文</span>

            </div>

        </div>

        <div class="paypal-bottom">

            <div class="paypal-footer">

                <a href="#">Contact Us</a>

                <span class="divider">|</span>

                <a href="#">Privacy</a>

                <span class="divider">|</span>

                <a href="#">Legal</a>

                <span class="divider">|</span>

                <a href="#">Worldwide</a>

            </div>

        </div>

    </div>

</div>



<!-- ================= BANK TRANSFER MODAL ================= -->

<div class="payment-modal" id="bankModal">

    <div class="bank-box">

        <i class="fa-solid fa-xmark bank-close"
            onclick="closePaymentModal()"></i>

        <div class="bank-header">

            <h3>
                Pay by Bank Transfer
            </h3>

            <p>
                Please complete all the required steps (Your course will be available within 24 hours after your payment is confirmed)
            </p>

        </div>

        <div class="bank-total">

            <small>
                Total Amount Payable (VAT Included)
            </small>

            <strong>
                19608.00 Baht
            </strong>

        </div>

        <div class="bank-step">

            <h4>
                Step 1: Transfer Funds via Bank Transfer
            </h4>

            <p>
                Select your preferred bank account and transfer the payment according to the total amount due.
            </p>

        </div>

        <div class="bank-account-list">

            <div class="bank-card">

                <div class="bank-card-top">

                    <div class="bank-left">

                        <img
                            src="assets/images/logo/kbank.png"
                            alt="Kasikornbank">

                        <div>

                            <h5>
                                Kasikornbank
                            </h5>

                            <span>
                                xxx-x-xxxxx-x
                            </span>

                        </div>

                    </div>

                    <button>

                        <i class="fa-regular fa-copy"></i>

                        copy

                    </button>

                </div>

                <div class="bank-detail">

                    <p>Account Name:</p>

                    <p>Branch:</p>

                    <p>Account Type:</p>

                </div>

            </div>

            <div class="bank-card">

                <div class="bank-card-top">

                    <div class="bank-left">

                        <img
                            src="assets/images/logo/SCB.png"
                            alt="SCB">

                        <div>

                            <h5>
                                Siam Commercial Bank
                            </h5>

                            <span>
                                xxx-xxxxxx-x
                            </span>

                        </div>

                    </div>

                    <button>

                        <i class="fa-regular fa-copy"></i>

                        copy

                    </button>

                </div>

                <div class="bank-detail">

                    <p>Account Name:</p>

                    <p>Branch:</p>

                    <p>Account Type:</p>

                </div>

            </div>

        </div>

        <div class="bank-step">

            <h4>
                Step 2: Payment Confirmation
            </h4>

            <p>
                Once your payment has been completed, please fill out the payment confirmation form and upload your proof of payment.
            </p>

        </div>

        <form class="bank-form">

            <label>
                * Select Bank
            </label>

            <div class="bank-radio">

                <label>

                    <input
                        type="radio"
                        name="bank">

                    <img
                        src="assets/images/logo/kbank.png">

                    Kasikornbank (xxx-x-xxxxx-x)

                </label>

                <label>

                    <input
                        type="radio"
                        name="bank">

                    <img
                        src="assets/images/logo/SCB.png">

                    Siam Commercial Bank (xxx-xxxxxx-x)

                </label>

            </div>

            <div class="bank-row">

                <div>

                    <label>
                        * Amount
                    </label>

                    <input
                        type="number"
                        placeholder="0.00">

                </div>

            </div>

            <div class="bank-row two-column">

                <div>

                    <label>
                        * Transfer Date
                    </label>

                    <input
                        type="text"
                        placeholder="xx/xx/xxxx">

                </div>

                <div>

                    <label>
                        * Transfer Time
                    </label>

                    <input
                        type="text"
                        placeholder="00:00">

                </div>

            </div>

            <label>
                Upload Proof of Payment (Supported formats: .jpg, .jpeg, .png, .pdf, maximum file size: 5 MB)
            </label>

            <div class="upload-box">

                <button
                    type="button">

                    <i class="fa-solid fa-upload"></i>

                    Select Files

                </button>

                <span>
                    No file selected
                </span>

            </div>

            <label>
                * Contact Number
            </label>

            <input
                type="text"
                placeholder="Enter your phone number">

            <button
                type="button"
                class="bank-confirm"
                disabled>

                Payment Confirmation

            </button>

        </form>

    </div>

</div>