.home-background {

    min-height: 100vh;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.55)
        ),
        url("../images/background/background1.png");

    background-size: cover;

    background-position: top center;

    background-repeat: no-repeat;
}


/* =================================
   Scroll Reveal Animation
================================= */

.reveal{

    opacity:0;

    transform:translateX(-80px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}


.reveal.show{

    opacity:1;

    transform:translateX(0);

}