<div class="reviews-container">


    <h3>
        Reviews
    </h3>


    <div class="reviews-line"></div>




    <div class="review-top">



        <!-- Rating -->

        <div class="rating-box">


            <h4>
                Rating
            </h4>


            <h5>
                5.0 (180 reviews)
            </h5>



            <div class="rating-bar">

                <span>5</span>

                <div>
                    <b style="width:100%"></b>
                </div>

                <small>
                    157
                </small>

            </div>



            <div class="rating-bar">

                <span>4</span>

                <div>
                    <b style="width:80%"></b>
                </div>

                <small>
                    3
                </small>

            </div>



            <div class="rating-bar">

                <span>3</span>

                <div>
                    <b style="width:50%"></b>
                </div>

                <small>
                    3
                </small>

            </div>



            <div class="rating-bar">

                <span>2</span>

                <div>
                    <b style="width:25%"></b>
                </div>

                <small>
                    3
                </small>

            </div>



            <div class="rating-bar">

                <span>1</span>

                <div>
                    <b style="width:10%"></b>
                </div>

                <small>
                    1
                </small>

            </div>



        </div>







        <!-- Review List -->

        <div class="review-list">


            <button>
                Rate the review
            </button>


            <h5>
                all reviews
                <small>(180 reviews)</small>
            </h5>



            <div class="review-item">


                <img src="https://randomuser.me/api/portraits/men/11.jpg">


                <div>

                    <b>
                        Justin
                    </b>


                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>


                    <span>
                        It's excellent! I learned so many things.
                    </span>

                </div>


            </div>





            <div class="review-item">


                <img src="https://randomuser.me/api/portraits/men/25.jpg">


                <div>

                    <b>
                        John
                    </b>


                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>


                    <span>
                        Very useful! The lessons are concise and easy to understand.
                    </span>

                </div>


            </div>





            <div class="review-item">


                <img src="https://randomuser.me/api/portraits/women/20.jpg">


                <div>

                    <b>
                        Jane
                    </b>


                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>


                </div>


            </div>



        </div>



    </div>








    <!-- Chat -->

    <div class="chat-section">


        <div class="chat-title">

            <span>
                Chat room
            </span>


            <button>
                + New Chat
            </button>

        </div>



        <div class="chat-empty">


            <i class="fa-regular fa-comment-dots"></i>


            <p>
                No conversations
            </p>


        </div>



    </div>




    <!-- Recommended -->

    <div class="recommended-review">


        <h4>
            Recommended
        </h4>



        <div class="recommend-grid">



            <div class="recommend-card">


                <img 
                src="assets/images/courses/recommend1.png"
                class="course-image"
                >



                <div class="recommend-body">


                    <div class="recommend-user">


                        <img 
                        src="https://randomuser.me/api/portraits/men/32.jpg"
                        >


                    </div>




                    <h5>
                        Global Investing & Economic Trends
                    </h5>


                    <p class="course-instructor">
                        Mike Anderson
                    </p>



                    <p>
                        Learn global investment strategies and understand economic trends.
                    </p>



                    <div class="price">

                        <b>
                            5,790 Baht
                        </b>

                        <del>
                            7,900 Baht
                        </del>

                    </div>


                </div>


            </div>








            <div class="recommend-card">


                <img 
                src="assets/images/courses/recommend2.png"
                class="course-image"
                >



                <div class="recommend-body">


                    <div class="recommend-user">


                        <img 
                        src="https://randomuser.me/api/portraits/women/44.jpg"
                        >


                    </div>



                    <h5>
                        Unlock Investment Opportunities
                    </h5>



                    <p class="course-instructor">
                        Sarah Williams
                    </p>



                    <p>
                        Discover new global investment opportunities and portfolio strategies.
                    </p>



                    <div class="price">

                        <b>
                            7,790 Baht
                        </b>

                    </div>


                </div>


            </div>








            <div class="recommend-card">


                <img 
                src="assets/images/courses/recommend3.png"
                class="course-image"
                >



                <div class="recommend-body">


                    <div class="recommend-user">


                        <img 
                        src="https://randomuser.me/api/portraits/men/45.jpg"
                        >


                    </div>



                    <h5>
                        Quality Investing
                    </h5>



                    <p class="course-instructor">
                        David Thompson
                    </p>



                    <p>
                        Learn professional investment methods from experienced investors.
                    </p>



                    <div class="price">

                        <b>
                            6,890 Baht
                        </b>

                    </div>


                </div>


            </div>








            <div class="recommend-card">


                <img 
                src="assets/images/courses/recommend4.png"
                class="course-image"
                >



                <div class="recommend-body">


                    <div class="recommend-user">


                        <img 
                        src="https://randomuser.me/api/portraits/women/65.jpg"
                        >

                    </div>



                    <h5>
                        Mutual Fund 101
                    </h5>



                    <p class="course-instructor">
                        Emma Johnson
                    </p>



                    <p>
                        Understand basic fund investment and financial planning.
                    </p>



                    <div class="price">

                        <b>
                            5,980 Baht
                        </b>

                    </div>


                </div>


            </div>



        </div>


    </div>



</div>