<section class="hero-section">

    <div class="hero-container">


        <!-- LEFT CONTENT -->
        <div class="hero-content">

            <span class="hero-subtitle">
                THREE SIX O ACADEMY
            </span>


            <h1>
                Elevate Your Future
                <br>
                <strong>
                    With World Class
                </strong>
                <br>
                <span>
                    Education
                </span>
            </h1>


            <p>
                THREE SIX O ACADEMY provides world-class learning
                experiences, empowering you with the knowledge and
                skills needed to thrive in a rapidly changing world.
            </p>



            <a href="about-us.html" class="hero-button">
                About Us
                <i class="fa-solid fa-arrow-right"></i>
            </a>



            <div class="hero-menu">

                <a href="how-to-use.html">
                    <i class="fa-regular fa-book-open"></i>
                    HOW TO USE
                </a>


                <a href="library.html">
                    <i class="fa-solid fa-book"></i>
                    LIBRARY
                </a>


                <a href="faq.html">
                    <i class="fa-regular fa-circle-question"></i>
                    FAQ
                </a>

            </div>


        </div>




        <!-- RIGHT LOGO -->
        <div class="hero-logo">


            <img src="assets/images/logo/logo2.png" alt="360 Academy Logo" class="logo-main">


            <img src="assets/images/logo/logo3.png" alt="360 Learning Logo" class="logo-sub">


        </div>



    </div>


</section>