<section class="total-program-cost">

    <h2>Total program cost*</h2>

    <div class="table-responsive">

        <table class="cost-table">

            <thead>

                <tr>
                    <th>List</th>
                    <th>Cost/Course</th>
                    <th>Total cost: Plan 1</th>
                    <th>Total cost: Plan 2</th>
                </tr>

            </thead>

            <tbody>

                <tr>

                    <td>
                        <div class="title">Course fees</div>
                        <div class="sub">(No credit awarded)</div>
                    </td>

                    <td class="price">
                        1,500 baht
                    </td>

                    <td>
                        <div class="price">24,000 baht</div>
                        <div class="sub">(16 courses, 1.5 credits/course)</div>
                    </td>

                    <td>
                        <div class="price">30,000 baht</div>
                        <div class="sub">(20 courses, 1.5 credits/course)</div>
                    </td>

                </tr>

                <tr>

                    <td>
                        <div class="title">Exam fees for earning credits.</div>
                    </td>

                    <td class="price">
                        3,000 baht
                    </td>

                    <td>
                        <div class="price">48,000 baht</div>
                        <div class="sub">(16 courses, 1.5 credits/course)</div>
                    </td>

                    <td>
                        <div class="price">60,000 baht</div>
                        <div class="sub">(20 courses, 1.5 credits/course)</div>
                    </td>

                </tr>

                <tr>

                    <td>
                        <div class="title">Processing fee (Comperhensive Examination)</div>
                        <div class="sub">(Per time)</div>
                    </td>

                    <td></td>

                    <td class="price">
                        5,000 บาท
                    </td>

                    <td class="price">
                        5,000 baht
                    </td>

                </tr>

                <tr>

                    <td>
                        <div class="title">Admission application fee</div>
                        <div class="sub">(Per time)</div>
                    </td>

                    <td></td>

                    <td class="price">
                        500 baht
                    </td>

                    <td class="price">
                        500 baht
                    </td>

                </tr>

                <tr>

                    <td>
                        <div class="title">Thesis fee**</div>
                        <div class="sub">(12 credits)</div>
                    </td>

                    <td></td>

                    <td>
                        <div class="price">96,000 baht</div>
                        <div class="sub">(16 courses, 1.5 credits/course)</div>
                    </td>

                    <td class="price">
                        -
                    </td>

                </tr>

                <tr>

                    <td>
                        <div class="title">Registration fee Independent Study (IS)***</div>
                        <div class="sub">6 credits</div>
                    </td>

                    <td></td>

                    <td class="price">
                        -
                    </td>

                    <td>
                        <div class="price">48,000 baht</div>
                        <div class="sub">(20 courses, 1.5 credits/course)</div>
                    </td>

                </tr>

                <tr>

                    <td>
                        <div class="title">Special fee</div>
                        <div class="sub">(After registering as a Thammasat University student)****</div>
                    </td>

                    <td></td>

                    <td class="price">
                        5,000 baht
                    </td>

                    <td class="price">
                        5,000 baht
                    </td>

                </tr>

                <tr>

                    <td>
                        <div class="title">Special fee</div>
                        <div class="sub">(After registering as a Thammasat University student)****</div>
                    </td>

                    <td></td>

                    <td class="price">
                        9,120 baht
                    </td>

                    <td class="price">
                        9,120 baht
                    </td>

                </tr>

            </tbody>

            <tfoot>

                <tr>

                    <td>Total</td>

                    <td></td>

                    <td>187,620 baht*****</td>

                    <td>157,620 baht*****</td>

                </tr>

            </tfoot>

        </table>

    </div>

    <div class="cost-note">

        <p>Note</p>

        <p>*Expenses are subject to change without prior notice.</p>

        <p>**Thesis registration: Students must pass the thesis examination within 4 years. Students may choose to register for all 12 thesis credits in one semester, or split the registration into 2 semesters with 6 credits per semester.</p>

        <p>IS examination within 4 years. Students may choose to register for all 6 credits in one semester, or split the registration into 2 semesters with 3 credits per semester.</p>

        <p>***If a student remains enrolled as a Thammasat University student for more than 1 semester, additional expenses may apply.</p>

        <p>****These expenses do not include other fees (after official enrollment as a Thammasat University student) in accordance with Thammasat University announcements.</p>

    </div>

</section>