<div class="course-content">


    <div class="content-header">

        <h3>Content</h3>

        <button id="hideContent">
            Hide all
        </button>

    </div>



    <div class="lesson-group">


        <div class="lesson-title">

            <span>
                Lesson 1 : Why do we use it
            </span>

            <i class="fa-solid fa-chevron-up"></i>

        </div>


        <div class="lesson-detail">

            <span>
                <i class="fa-regular fa-circle-play"></i>
                Let's start learning
            </span>

            <time>
                02:20
            </time>

        </div>


    </div>





    <div class="lesson-group">


        <div class="lesson-title">

            <span>
                Lesson 2 : Why do we use it
            </span>

            <i class="fa-solid fa-chevron-up"></i>

        </div>


        <div class="lesson-detail">

            <span>
                <i class="fa-regular fa-circle-play"></i>
                Where does it come from
            </span>

            <time>
                10:33
            </time>

        </div>



        <div class="lesson-detail">

            <span>
                <i class="fa-regular fa-file-lines"></i>
                Quiz : Where can I get some
            </span>

            <time>
                Articles
            </time>

        </div>


    </div>





    <div class="lesson-group">


        <div class="lesson-title">

            <span>
                Lesson 3 : Why do we use it
            </span>

            <i class="fa-solid fa-chevron-down"></i>

        </div>


        <div class="lesson-detail">

            <span>
                <i class="fa-regular fa-circle-play"></i>
                Introduction lesson
            </span>

            <time>
                05:20
            </time>

        </div>


    </div>





    <div class="lesson-group">


        <div class="lesson-title">

            <span>
                Final Quiz
            </span>

            <i class="fa-solid fa-chevron-up"></i>

        </div>


        <div class="lesson-detail">

            <span>
                <i class="fa-solid fa-circle-question"></i>
                Final Quiz
            </span>


            <time>
                Test
            </time>


        </div>


    </div>


</div>