<link 
rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<section class="banner-overview-section">


<div class="academy-wrapper">


    <!-- TOP BANNER -->

    <div class="academy-banner">


        <div class="academy-header">


            <div class="academy-left">


                <img 
                    src="assets/images/logo/logo2.png"
                    class="academy-logo">


                <h1>
                    THREE SIX O ACADEMY
                </h1>


                <p>
                    The Only Academy in Thailand Delivering Institutional-Grade
                    Investment Education Inspired by the World's Leading
                    Financial Institutions.
                </p>


            </div>



            <div class="academy-right">


                <img
                    src="assets/images/logo/logo4.png"
                    class="academy-symbol">


            </div>



        </div>


    </div>





    <!-- TITLE -->


    <div class="highlight-title">


        <h2>
            Program Highlights
        </h2>


        <p>
            A modern curriculum focused on innovation, digital
            transformation, and strategic business management.
        </p>


    </div>







    <!-- SWIPER HIGHLIGHT CARDS -->

    <div class="swiper highlightSwiper">

        <div class="swiper-wrapper">


            <!-- CARD 1 -->

            <div class="swiper-slide">

                <div class="highlight-card active">

                    <div class="quote">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>

                    <p>
                        Simple explanations
                        useful materials and
                        excellent teaching.
                    </p>

                    <img src="https://i.pravatar.cc/300?img=12">

                </div>

            </div>





            <!-- CARD 2 -->

            <div class="swiper-slide">

                <div class="highlight-card">

                    <div class="quote">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>


                    <p>
                        Excellent course
                        The lessons
                        are easy to follow
                    </p>


                    <img src="https://i.pravatar.cc/300?img=47">

                </div>

            </div>





            <!-- CARD 3 -->

            <div class="swiper-slide">

                <div class="highlight-card">

                    <div class="quote">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>


                    <p>
                        Highly recommended
                        for beginners and
                        professionals alike.
                    </p>


                    <img src="https://i.pravatar.cc/300?img=68">

                </div>

            </div>


        </div>



        <div class="swiper-button-prev"></div>

        <div class="swiper-button-next"></div>


        <div class="swiper-pagination"></div>


    </div>









    <!-- INFORMATION -->


    <div class="program-info">


        <div class="about-program">


            <h3>
                About the Program
            </h3>


            <p>

            The Master of Business Administration in Business Innovation has been designed
            to develop the next generation of leaders for the digital era.

            The curriculum is built upon a modern approach to innovation-driven business
            management, equipping students with the knowledge, strategic mindset and
            practical skills required to succeed in today's rapidly evolving business
            landscape.

            The program covers essential areas including strategic planning, business
            management, innovation development, specialized business operations, and
            leadership.

            Students will gain the expertise to lead high-performing teams, drive
            organizational innovation, and create sustainable competitive advantages.

            Graduates will be prepared to manage and transform businesses with confidence,
            enabling organizations to compete successfully at both regional and
            international levels.

            </p>


            <a href="#">
                Read more
            </a>


        </div>






        <div class="overview-program">


            <h3>
                Program Overview
            </h3>




            <div class="overview-item">


                <i class="fa-solid fa-chalkboard-user"></i>


                <div>

                    <span>
                        Minimum Number Of Courses
                    </span>


                    <p>
                        16 Courses
                    </p>


                </div>


            </div>







            <div class="overview-item">


                <i class="fa-solid fa-money-bill"></i>


                <div>

                    <span>
                        Starting Price per Course
                    </span>


                    <p>
                        1,500 baht
                    </p>


                </div>


            </div>




        </div>



    </div>



</div>


</section>