<nav class="course-detail-navbar">

    <ul>

        <li class="active">
            <a href="#description">
                Description
            </a>
        </li>


        <li>
            <a href="#content">
                Content
            </a>
        </li>


        <li>
            <a href="#instructor">
                Instructor
            </a>
        </li>


        <li>
            <a href="#certificate">
                Certificate
            </a>
        </li>


        <li>
            <a href="#reviews">
                Reviews
            </a>
        </li>


        <li>
            <a href="#payment">
                How to Payment
            </a>
        </li>


    </ul>

</nav>