<div class="certificate-container">


    <div class="certificate-content">


        <h3>
            Certificate
        </h3>


        <div class="certificate-line"></div>



        <h4>
            Criteria for receiving a certificate
        </h4>



        <p>
            Learners will get a certificate when they meet the criteria below.
            <br>
            And you can check the status of your certificate from the
            "My Learning Path" menu.
        </p>



        <ul>

            <li>
                Completed: 100% of the course
            </li>


            <li>
                Take the post-lesson quiz: score at least 12 points
            </li>


        </ul>


    </div>





    <div class="certificate-image">


        <img 
        src="assets/images/logo/certificate.png"
        alt="Certificate"
        >


    </div>



</div>